@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500&family=Ubuntu:wght@300;500&display=swap");
@import "reset.css";
@import "variable.css";
/* components */
@import "components/status-bar.css";
@import "components/nav-bar.css";
@import "components/screen-header.css";
@import "components/user-components.css";
@import "components/badge.css";
@import "components/icon-row.css";
@import "components/alt-screen-header.css";
/* screens */
@import "screens/login.css";
@import "screens/friends.css";
@import "screens/find.css";
@import "screens/more.css";
body {
  font-family: "Open Sans", sans-serif;
  font-family: "Ubuntu", sans-serif;
  color: #2f363e;
}
main {
  padding: 0 25px;
  padding-bottom: 100px;
}
