@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500&family=Ubuntu:wght@300;500&display=swap");
@import "status-bar.css";
@import "reset.css";

body {
  font-family: "Open Sans", sans-serif;
  font-family: "Ubuntu", sans-serif;
}
.welcome-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.welcome-header__title {
  margin: 90px 0 40px 0;
  font-size: 35px;
}
.welcome-header__text {
  width: 60%;
  opacity: 0.6;
  margin-bottom: 110px;
}
