.find-icons {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  padding-bottom: 25px;
}
.find-icons--icon {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.find-icons--icon i {
  margin-bottom: 20px;
}
.red-dot {
  width: 5px;
  height: 5px;
  background-color: #ff6229;
  border-radius: 50%;
}
