#friends-display__link {
  display: flex;
  justify-content: center;
  padding: 15px;
  background-color: #fafafa;
  font-size: 20px;
}
#friends-display__link i {
  color: rgba(0, 0, 0, 0.2);
  margin: 0 10px;
}
