#friends-display__link {
  display: flex;
  justify-content: center;
  padding: 15px;
  background-color: #fafafa;
  font-size: 20px;
  margin-bottom: 10px;
}
#friends-display__link i {
  color: rgba(0, 0, 0, 0.2);
  margin: 0 10px;
}
.friends-screen {
  padding: 0 var(--horizontal-space);
}
.friends-screen__channel {
  margin-top: 15px;
  padding-top: 15px;
  margin-bottom: 15px;
  border-top: 1px solid var(--components-font-color);
  color: var(--components-font-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
