.user-component,
.user-component__column:first-child {
  display: flex;
  align-items: center;
}
.user-component {
  justify-content: space-between;
}

.user-component__avatar {
  height: 70px;
  width: 70px;
  border-radius: 25px;
  margin-right: 17px;
}
.user-component__title {
  font-weight: 600;
  font-size: 25px;
}
.user-component__subtitle {
  font-size: 18px;
  opacity: 0.5;
  margin-top: 10px;
}
.user-component__avatar-xl {
  height: 80px;
  width: 80px;
}
.user-component__avatar--sm {
  height: 60px;
  width: 60px;
}
.user-component__title--not-bold {
  font-weight: 400;
  font-size: 20px;
}
.user-component__column:last-child {
  color: var(--components-font-color);
}
